@model NajmetAlraqee.Data.Entities.DoctorEducationLevel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>DoctorEducationLevel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DoctorId" class="control-label"></label>
                <select asp-for="DoctorId" class ="form-control" asp-items="ViewBag.DoctorId"></select>
            </div>
            <div class="form-group">
                <label asp-for="EducationLevelId" class="control-label"></label>
                <select asp-for="EducationLevelId" class ="form-control" asp-items="ViewBag.EducationLevelId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

