@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<User> SignInManager

@{
    Layout = null;
}
<!DOCTYPE html >
<html class="loading" lang="ar" dir="rtl">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="Stack admin is super flexible, powerful, clean &amp; modern responsive bootstrap 4 admin template with unlimited possibilities.">
    <meta name="keywords" content="admin template, stack admin template, dashboard template, flat admin template, responsive admin template, web app">
    <meta name="author" content="PIXINVENT">
    <title>:: Maharat Alsharq ::</title>
    <link rel="apple-touch-icon" href="~/LoginStylee/app-assets/images/ico/apple-icon-120.png">
    <link rel="shortcut icon" type="image/x-icon" href="~/LoginStylee//app-assets/images/ico/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i%7COpen+Sans:300,300i,400,400i,600,600i,700,700i"
          rel="stylesheet">
    <!-- BEGIN VENDOR CSS-->
    <link rel="stylesheet" type="text/css" href="~/LoginStylee/app-assets/css-rtl/vendors.css">
    <link rel="stylesheet" type="text/css" href="~/LoginStylee/app-assets/vendors/css/forms/icheck/icheck.css">
    <link rel="stylesheet" type="text/css" href="~/LoginStylee/app-assets/vendors/css/forms/icheck/custom.css">
    <!-- END VENDOR CSS-->
    <!-- BEGIN STACK CSS-->
    <link rel="stylesheet" type="text/css" href="~/LoginStylee/app-assets/css-rtl/app.css">
    <link rel="stylesheet" type="text/css" href="~/LoginStylee/app-assets/css-rtl/custom-rtl.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/droidarabickufi.css" type="text/css" media="screen" />
    <!-- END STACK CSS-->
    <!-- BEGIN Page Level CSS-->
    <link rel="stylesheet" type="text/css" href="~/LoginStylee/app-assets/css-rtl/core/menu/menu-types/vertical-menu.css">
    <link rel="stylesheet" type="text/css" href="~/LoginStylee/app-assets/css-rtl/core/colors/palette-gradient.css">
    <link rel="stylesheet" type="text/css" href="~/LoginStylee/app-assets/css-rtl/pages/login-register.css">
    <!-- END Page Level CSS-->
    <!-- BEGIN Custom CSS-->
    <link rel="stylesheet" type="text/css" href="~/LoginStylee/assets/css/style-rtl.css">
    <!-- END Custom CSS-->
    <link href="~/css/DropKofiFont.css" rel="stylesheet" />
</head>
<body class="vertical-layout vertical-menu 1-column   bg-lighten-2 menu-expanded blank-page blank-page"
      data-open="click" data-menu="vertical-menu" data-col="1-column" style="direction:rtl;background-color:#404E67">
    <!-- ////////////////////////////////////////////////////////////////////////////-->
    <div class="app-content content" style="font-family:Droid Arabic Kufi">
        <div class="content-wrapper">
            <div class="content-header row">
            </div>
            <div class="content-body">
                <section class="flexbox-container">
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <div class="col-md-4 col-10 box-shadow-2 p-0">
                            <div class="card border-grey border-lighten-3 m-0">
                                <div class="card-header border-0">
                                    <div class="card-title text-center">
                                        <div class="p-1">
                                            <h6 class="card-subtitle line-on-side text-muted text-center font-large-1 pt-1" style="direction:rtl;">
                                                <span style="font-family:Droid Arabic Kufi">مهارة الشرق للاستقدام</span>
                                            </h6>
                                            @*<img src="~/LoginStylee/app-assets/images/logo/stack-logo-dark.png" alt="branding logo">*@
                                        </div>
                                    </div>
                                   
                                </div>
                                <div class="card-content">
                                    @*<div class="card-body pt-0 text-center">
                                        <a href="#" class="btn btn-social mb-1 mr-1 btn-outline-facebook">
                                            <span class="fa fa-facebook"></span>
                                            <span class="px-1">facebook</span>
                                        </a>
                                        <a href="#" class="btn btn-social mb-1 mr-1 btn-outline-google">
                                            <span class="fa fa-google-plus font-medium-4"></span>
                                            <span class="px-1">google</span>
                                        </a>
                                    </div>
                                    <p class="card-subtitle line-on-side text-muted text-center font-small-3 mx-2">
                                        <span>OR Using Account Details</span>
                                    </p>*@
                                    <div class="card-body pt-0" style="direction:rtl">
                                        <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                                            <div asp-validation-summary="All" class="text-danger"></div>
                                            <fieldset class="form-group floating-label-form-group" dir="rtl">
                                                <label for="user-name" dir="rtl">البريد الالكتروني</label>
                                                <input asp-for="Email" type="text" class="form-control" placeholder="البريد الالكتروني" required style="font-family:Droid Arabic Kufi" dir="rtl">
                                            </fieldset>
                                            <fieldset class="form-group floating-label-form-group mb-1">
                                                <label for="user-password">كلمة المرور</label>
                                                <input asp-for="Password" class="form-control" placeholder="كلمة المرور" required  style="font-family:Droid Arabic Kufi" dir="rtl" />
                                            </fieldset>
                                            <div class="form-group row">
                                                <div class="col-md-6 col-12 text-center text-sm-left">
                                                    <fieldset>
                                                        <input type="checkbox" id="remember-me" class="chk-remember">
                                                        <label for="remember-me">تذكرني</label>
                                                    </fieldset>
                                                </div>
                                                @*<div class="col-md-6 col-12 float-sm-left text-center text-sm-right"><a href="recover-password.html" class="card-link">Forgot Password?</a></div>*@
                                            </div>
                                            @*<button type="submit" class="btn btn-outline-primary btn-block"><i class=""></i>تسجيل الدخول  </button>*@
                                            <button type="submit" class="btn btn-primary btn-lg btn-block"><i class="ft-unlock"></i> تسجيل الدخول</button>
                                        </form>
                                    </div>
                                    @*<p class="card-subtitle line-on-side text-muted text-center font-small-3 mx-2 my-1">
                                        <span>New to Stack ?</span>
                                    </p>
                                    <div class="card-body">
                                        <a href="register-with-bg.html" class="btn btn-outline-danger btn-block"><i class="ft-user"></i> Register</a>
                                    </div>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- ////////////////////////////////////////////////////////////////////////////-->
    <!-- BEGIN VENDOR JS-->
    <script src="~/LoginStylee/app-assets/vendors/js/vendors.min.js" type="text/javascript"></script>
    <!-- BEGIN VENDOR JS-->
    <!-- BEGIN PAGE VENDOR JS-->
    <script src="~/LoginStylee/app-assets/vendors/js/forms/icheck/icheck.min.js" type="text/javascript"></script>
    <!-- END PAGE VENDOR JS-->
    <!-- BEGIN STACK JS-->
    <script src="~/LoginStylee/app-assets/js/core/app-menu.js" type="text/javascript"></script>
    <script src="~/LoginStylee/app-assets/js/core/app.js" type="text/javascript"></script>
    <script src="~/LoginStylee/app-assets/js/scripts/customizer.js" type="text/javascript"></script>
    <!-- END STACK JS-->
    <!-- BEGIN PAGE LEVEL JS-->
    <script src="~/LoginStylee/app-assets/js/scripts/forms/form-login-register.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL JS-->
</body>
</html>


