@model RegisterViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>:: NajmetAlraqee Hospital ::</title>
    <meta name="description" content="WrapTheme, Hospital Admin">
    <meta name="keywords" content="adminX, Bootstrap4, Hospital, Angular4, Material Design">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <!-- Custom Css -->
    <link href="~/themeforest/HTML/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
    <link href="~/themeforest/HTML/assets/css/main.css" rel="stylesheet">
    <link href="~/themeforest/HTML/assets/css/login.css" rel="stylesheet">

    <!-- choose a theme from css/themes instead of get all themes -->
    <link href="~/themeforest/HTML/assets/css/themes/all-themes.css" rel="stylesheet" />
</head>

<body class="theme-cyan">
    <div class="authentication">
        <div class="container-fluid">
            <div class="row clearfix">
                <div class="col-xl-3 col-lg-4 col-md-12 col-sm-12 p-r-0">
                    <div class="card">
                        <h4 class="l-login">
                            Register
                        </h4>
                        <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <label class="form-label">Enter Name</label>
                                    <input type="text" class="form-control">
                                    @*<span asp-validation-for="Email" class="text-danger"></span>*@
                                </div>
                            </div>
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <label class="form-label">Email</label>
                                    <input asp-for="Email" type="text" class="form-control">
                                    @*<span asp-validation-for="Email" class="text-danger"></span>*@
                                </div>
                            </div>
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <label class="form-label">Password</label>
                                    <input asp-for="Password" class="form-control" />
                                    @*<span asp-validation-for="Password" class="text-danger"></span>*@
                                </div>
                            </div>
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <label class="form-label">Confirm Password</label>
                                    <input asp-for="ConfirmPassword" class="form-control" />
                                    @*<span asp-validation-for="ConfirmPassword" class="text-danger"></span>*@
                                </div>
                            </div>
                            @*<div class="form-group">
            <input type="checkbox" name="terms" id="terms" class="filled-in chk-col-cyan">
            <label for="terms">I read and agree to the <a href="javascript:void(0);">terms of usage</a>.</label>
        </div>*@
                            <input type="submit" value="Sign Up" class="btn btn-raised g-bg-cyan waves-effect" />
                            @*<div class="text-left"> <a href="#" class="btn btn-raised waves-effect g-bg-cyan">SIGN UP</a> </div>*@
                            <div class="m-t-10 m-b--5"> <a href="@Url.Action("login","Account")">You already have a membership?</a> </div>
                        </form>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-8 col-md-12 col-sm-12 p-l-0">
                    <div class="l-detail">
                        <h5 class="position">Welcome</h5>
                        <h1 class="position"><img src="~/themeforest/HTML/assets/images/logo.svg" alt="profile img"><span>MC</span>are <span>H</span>ospitals</h1>
                        @*<h3 class="position">Sign in to start your session</h3>
                        <p class="position">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>*@
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Jquery Core Js -->
    <script src="~/themeforest/HTML/assets/bundles/libscripts.bundle.js"></script> <!-- Bootstrap JS and jQuery v3.2.1 -->
    <script src="~/themeforest/HTML/assets/bundles/vendorscripts.bundle.js"></script> <!-- slimscroll, waves Scripts Plugin Js -->

    <script src="~/themeforest/HTML/assets/bundles/mainscripts.bundle.js"></script><!-- Custom Js -->
</body>
</html>







@*@model  RegisterViewModel
    @{
        ViewData["Title"] = "Register";
    }

    <h2>@ViewData["Title"]</h2>

    <div class="row">
        <div class="col-md-4">
            <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
                <h4>Create a new account.</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword"></label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-default">Register</button>
            </form>
        </div>
    </div>

    @section Scripts {
        @await Html.PartialAsync("_ValidationScriptsPartial")
    }*@
