@model NajmetAlraqee.Data.Entities.Doctor
@using NajmetAlraqeeSite.Resources

@inject LocService SharedLocalizer
@{
    ViewData["Title"] = SharedLocalizer.GetLocalizedHtmlString("Delete");
}



<div class="block-header">
    @*<h2>Delete Doctor</h2>*@
    <ol class="breadcrumb breadcrumb-col-cyan">
        <li><a href=@Url.Action("index","Doctors")><i class="material-icons">home</i> @SharedLocalizer.GetLocalizedHtmlString("Doctors")</a></li>
        <li><a href="javascript:void(0);"><i class="material-icons">library_books</i>@SharedLocalizer.GetLocalizedHtmlString("DeleteDoctor")</a></li>
    </ol>
</div>

<div>
    <center>
        <h3>@SharedLocalizer.GetLocalizedHtmlString("DleteDoctorMsg") </h3>
        <br />
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Delete" class="btn  btn-raised btn-danger waves-effect" />
            <a asp-action="Index" class="btn btn-raised">@SharedLocalizer.GetLocalizedHtmlString("Back")</a>
        </form>
    </center>


</div>
